* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.total_section {
    display: flex;
    position: absolute;
    justify-content: center;
    align-items: center;
    padding: 32px 465px;
    background-color: rgb(241, 238, 238);
    background-repeat: space;
    font-family: Arial, Helvetica, sans-serif;  
}
.first_table {
    position: relative;
    align-items: center;
    justify-content: center;
    text-align: center;
    box-sizing: inherit;
    flex-direction: column;
    padding: 100px 40px;
    max-width: 432px;
    max-height: 399px;
    border-radius: 20px;
    background-color: #FFFFFF;
    margin-bottom: 100%;
}
.bottom {
    position: relative;
    width: 30px;
    height: 30px;
    bottom: 90px;
    left: 185px;
    font-size: 20px;
    color: rgb(192, 190, 190);
    background-color: transparent;
    border-color: transparent;
    border-radius: 20px;
    cursor: pointer;
}
.logo{
    margin-bottom: 10px;
    margin-top: -40px;
}
.select_text{
    margin-bottom: 15px;
    font-weight: 500;
    font-size: 18px;
}
.esoestabien {
    padding: 15px 45px;
    font-size: 15px;
    background-color: #ed6755;
    color: #FFFFFF;
    box-shadow: #2c3e50;
    box-shadow: 0px 8px 15px rgb(0 0 0 / 20%);
    border-color: transparent;
    border-radius: 3px;
    border: none;
    cursor: pointer;
    transition: all 0.3s ease 0s;
}

/* **************************************** */ 

.second_table{
    display: flex;
    flex-direction: column;
    position: relative;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 100px 112px;
    border-radius: 20px;
    margin-top: 100px;
    max-width: 432px;
    max-height: 399px;
    background-color: #FFFFFF;
    box-sizing: inherit;
} 

.bottomdos {
    position: relative;
    color: rgb(192, 190, 190);
    background-color: transparent;
    border-color: transparent;
    font-size: 20px;
    width: 30px;
    height: 30px;
    bottom: 70px;
    left: 140px;
    border-radius: 20px;
    cursor: pointer;
}
.logodos{
    margin-bottom: 10px;
    margin-top: -40px;
}
.select_textdos{
    margin-bottom: 45px;
    font-weight: 500;
    font-size: 18px;
}
.ampliarsesion {
    padding: 15px 45px;
    font-size: 15px;
    background-color: #2c3e50;
    color: #FFFFFF;
    box-shadow: #2c3e50;
    box-shadow: 0px 8px 15px rgb(0 0 0 / 20%);
    border-color: transparent;
    border-radius: 3px;
    border: none;
    cursor: pointer;
    transition: all 0.3s ease 0s;
}
